* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Maven Pro", sans-serif;
}

body {
  height: 100vh;
  background: #121212;
  color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cronometro {
  display: flex;
  margin-bottom: 5rem;
  gap: 6.25rem; 
}

.time-block {
  position: relative;
  width: 10rem;    
  height: 10rem;   
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.number {
  font-size: 1.875rem; 
  font-weight: bold;
}

.label {
  font-size: 0.625rem; 
  color: #aaa;
}

button {
  font-family: "Maven Pro", sans-serif;
  padding: 0.625rem 1.25rem; 
  font-size: 0.75rem;        
  border: none;
  border-radius: 0.5rem;     
  background: #00aa82;
  color: #121212;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  margin: 0 0.3125rem;       
}

button:hover {
  background: #00ffc8;
}

button.running {
  background: #d46d6d;  
  color: #fff;
  box-shadow: 0 0 0.375rem #ff4c4c; 
}

button.running:hover {
  background: #e04343;
}

.progress-ring {
  position: absolute;
  width: 10rem;  
  height: 10rem;
  transform: rotate(-90deg);
}

.progress-ring circle {
  fill: none;
  stroke-width: 0.75rem; 
  r: 4.375rem;          
  cx: 5rem;             
  cy: 5rem;
}

.progress-ring .bg {
  stroke: #444;
}

.progress-ring .progress {
  stroke: #00aa82;
  stroke-dasharray: 27.489rem; 
  stroke-dashoffset: 27.489rem;
  transition: stroke-dashoffset 0.5s ease;
}

.time-block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 9.375rem;  
  height: 9.375rem;
}



@media (max-width: 37.5rem) { 
  .cronometro {
    flex-direction: column;
    gap: 8rem;       
    margin-bottom: 3rem;
    width: 10rem;
  }
  
 .time-block {
    flex-basis: 100%;    
    max-width: 100%;
  }
  
  .number {
    font-size: 1.5625rem;  
  }
  
  .label {
    font-size: 0.5625rem;  
  }
  
  .progress-ring {
    width: 10rem;
    height: 10rem;
  }
  
  .progress-ring circle {
    stroke-width: 0.625rem; 
    r: 4.375rem;            
    cx: 5rem;
    cy: 5rem;
  }

  button {
    font-size: 0.625rem;     
    padding: 0.5rem 0.9375rem; 
    margin-top: 1rem;
    width: 10rem;
  }
}
