* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Maven Pro", sans-serif;
}

body {
  height: 100vh;
  background: #121212;
  color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cronometro {
  display: flex;
  margin-bottom: 5rem;
  gap: 10rem;

}

.time-block {
  position: relative;
  width: 12rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.number {
  font-size: 4rem;
  font-weight: bold;
}

.label {
  font-size: 1rem;
  color: #aaa;
}


button {
  font-family: "Maven Pro", sans-serif;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 8px;
  background: #00aa82;
  color: #121212;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  margin: 0 0.5rem;
}

button:hover {
  background: #00ffc8;
}

button.running {
  background: #d46d6d;  
  color: #fff;
  box-shadow: 0 0 6px #ff4c4c;
}

button.running:hover {
  background: #e04343;
}

.progress-ring {
  position: absolute;
  width: 180px;   
  height: 180px;
  transform: rotate(-90deg);
}

.progress-ring circle {
   fill: none;
  stroke-width: 13;   
  r: 78;             
  cx: 90;            
  cy: 90;
}

.progress-ring .bg {
  stroke: #444;
}

.progress-ring .progress {
  stroke: #00aa82;
   stroke-dasharray: 490.09; 
  stroke-dashoffset: 490.09;
  transition: stroke-dashoffset 0.5s ease;
}

.time-block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  height: 180px;
}

